#logo_site img {
    width: 100px;
    height: 100px;
}


#logo_github img {
    width: 70px;
    height: 70px;
}
.answerer {
 margin: auto;
 background: aquamarine;
}
.asker {
    background: green;
}

.chatbox {
    border-radius: 5px;
}

#logo_linkedin img{
    width: 70px;
    height: 70px;
}


#logo_trello img{
    width: 70px;
    height: 70px;
}

#user_text{
 text_align: center;
}