#logo_site img {
    width: 100px;
    height: 100px;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto;
}


#logo_icons {
    display: flex;
    flex-flow: row ;
    justify-content: center;   
}

#logo_github img {
    width: 100px;
    height: 100px;
}

#logo_linkedin img{
    width: 100px;
    height: 100px;  
}


#logo_trello img{
    width: 100px;
    height: 100px;   
}
