#logo_site img {
    width: 100px;
    height: 100px;
}


#logo_github img {
    width: 70px;
    height: 70px;
}
.answerer {
 background: aquamarine;
}
.asker {
    background: antiquewhite;
    text-align: right;
}

.chatbox {
    border-radius: 5px;
}

#logo_linkedin img{
    width: 70px;
    height: 70px;
}


#logo_trello img{
    width: 70px;
    height: 70px;
}

#question-block{
   text-align: center;
}
footer{
 position:  relative;
 bottom : 0;
}