#logo_site img {
    width: 100px;
    height: 100px;
}


#logo_github img {
    width: 70px;
    height: 70px;
}
.answerer {
 background: #54c935;
}
.asker {
    background: #5d646a;
    text-align: right;
}

.chatbox {
    border-radius: 5px;
}

#logo_linkedin img{
    width: 70px;
    height: 70px;
}


#logo_trello img{
    width: 70px;
    height: 70px;
}

#question-block{
   text-align: center;
}
footer{
 position:  absolute;
 bottom : 0;
}

#map{
    margin: 0 auto;
    width: 300px;
    height: 100%;

}